.cards{
    border: solid 1px red;
    text-decoration: none !important;
    color: black;
    background-color: blueviolet;
}

.row-edge{
    margin-left: 0% !important;
    margin-right: 0% !important;
}