.card-board{
    margin-top: 15px;
    
}

.banner-img {
    width: 100%;
    height: auto;
}

.carta-menu-home{
    margin: 10px;
    border-radius: 5%;
    padding: 15px;
}

.cards{
    border: solid 1px #0088cc;
    text-decoration: none !important;
    color: black;
    background-color: #dcffcc;
    text-align: center;
    font-size: 14pt;
    font-weight: 900;
}




@media screen and (max-width: 355px) {
    .banner-img {
        max-width: 100%;
  height: auto;
    }

}

@media screen and (min-width: 356px) and (max-width: 500px) {
    .banner-img {max-width: 100%;
        height: auto;
    }

}